* {
	box-sizing:border-box;
}
body {
	margin:0;
}
.gjs-grid-column.feature-item {
	padding-top:15px;
	padding-right:15px;
	padding-bottom:15px;
	padding-left:15px;
	display:flex;
	flex-direction:column;
	gap:15px;
	min-width:30%;
}
.gjs-grid-column.testimonial-item {
	padding-top:15px;
	padding-right:15px;
	padding-bottom:15px;
	padding-left:15px;
	display:flex;
	flex-direction:column;
	gap:15px;
	min-width:45%;
	background-color:rgba(247,247,247,0.23);
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	align-items:flex-start;
	border-top-width:1px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-top-style:solid;
	border-right-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
	border-top-color:rgba(0,0,0,0.06);
	border-right-color:rgba(0,0,0,0.06);
	border-bottom-color:rgba(0,0,0,0.06);
	border-left-color:rgba(0,0,0,0.06);
}
#ibs4 {
	color:black;
	width:243px;
	height:243px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
	text-align:center;
}
#ibsp {
	padding:10px;
	text-align:center;
	font-weight:400;
	font-size:65px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
.gjs-container {
	width:90%;
	margin:0 auto;
	max-width:1200px;
}
.gjs-section {
	display:flex;
	padding:50px 0;
}
.gjs-grid-column {
	flex:1 1 0%;
	padding:5px 0;
}
.gjs-grid-row {
	display:flex;
	justify-content:flex-start;
	align-items:stretch;
	flex-direction:row;
	min-height:auto;
	padding:10px 0;
}
#i8px {
	justify-content:center;
}
#i42f {
	padding-top:5px;
	padding-right:0px;
	padding-bottom:5px;
	padding-left:0px;
	flex:1 1 0%;
}
#iydsn {
	flex:0 1 auto;
}
#iw5bf {
	padding:10px;
	white-space:normal;
	text-align:center;
}
#i55cg {
	text-align:center;
	justify-content:center;
}
#isiu4 {
	flex:0 0 auto;
	text-align:center;
	align-self:center;
}
.gjs-link-box {
	color:inherit;
	display:inline-block;
	vertical-align:top;
	padding:10px;
	max-width:100%;
	text-decoration:none;
}
#i8egh {
	color:black;
	width:42px;
	height:42px;
}
#ih7ok {
	color:black;
	width:42px;
	height:42px;
}
#iqiyj {
	color:black;
	width:42px;
}
@media (max-width:992px) {
	.gjs-grid-row {
	flex-direction:column;
}
#i8px {
	align-items:center;
}
}